<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
  <div id="sign-in-stuff">
    <div class="sign-in-form">
      <h2 class="highlight-word">Sign In</h2>
      <form action="/login" method="post">
        <label for="username" class="highlight-word">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password" class="highlight-word">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit" class="login-btn">Sign-in</button>
      </form>
      <div class="or-divider">- or Sign In With -</div>
      <button class="google-btn" onclick="signInWithGoogle()">Google</button>
    </div>
  </div>
  <script>
    function signInWithGoogle() {
      console.log('signInWithGoogle called');
      gapi.load('auth2', function() {
        console.log('gapi.auth2 loaded');
        const auth2 = gapi.auth2.init({
          client_id: '624534888737-450ntk4o8gvsdgc9emnuv3tv6pk6jocu.apps.googleusercontent.com',
        });
        auth2.signIn({
          ux_mode: 'redirect',
          redirect_uri: 'https://portfolio.rat-monkee.online/auth/google/callback'
        });
      });
    }
  </script>
</body>
</html>