/* Profile Picture */
#profile-pic {
  width: 25vw;
  height: 25vw;
  max-width: 400px;
  max-height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #f1f1f1;
  box-shadow: 0 0 0 5px #ae2012;
  display: block;
  margin: 0 auto;
}

/* Hobbies Section */
#hobbies img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto 20px;
}

#hobbies .more-content {
  text-align: center;
}

/* About Me and Hobbies Content Alignment */
.about-me-content, #hobbies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.more-content {
  text-align: center;
}

#about-me .more-content p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  #profile-pic {
    width: 40vw;
    height: 40vw;
    max-width: 300px;
    max-height: 300px;
  }

  #hobbies img {
    max-width: 90%;
    height: auto;
  }
}
